<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nexus6p.QQMusicNotify"
    android:installLocation="internalOnly"
    android:versionCode="29"
    android:versionName="2.9.2">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:hasFragileUserData="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="q">
        <activity
            android:name=".MainActivity"
            android:theme="@style/googleBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".MainActivityAlias"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity
            android:name=".BackgroundActivity"
            android:excludeFromRecents="true"
            android:theme="@style/noDisplay"
            android:exported="true">
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.nexus6p.QQMusicNotify.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:authorities="cn.nexus6p.QQMusicNotify.provider"
            android:name=".ContentProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:directBootAware="true"
            tools:ignore="ExportedContentProvider" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

    </application>
</manifest>