<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.nexus6p.QQMusicNotify"
    android:installLocation="internalOnly"
    android:versionCode="23"
    android:versionName="2.8.1">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="@string/app_name"
        tools:ignore="GoogleAppIndexingWarning"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity"
            android:theme="@style/googleBlue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <activity-alias
            android:name=".MainActivityAlias"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cn.nexus6p.QQMusicNotify.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/description" />
        <meta-data
            android:name="xposedminversion"
            android:value="82" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!--<service
            android:name=".nevoDecorators"
            android:permission="com.oasisfeng.nevo.permission.BIND_DECORATOR_SERVICE"
            android:process="com.oasisfeng.nevo.decorators"
            android:label="@string/app_name"
            android:description="@string/description">
            <intent-filter android:priority="5">
                <action android:name="com.oasisfeng.nevo.Decorator" />
            </intent-filter>
        </service>-->

    </application>
</manifest>